.quiz-list {
    width: 100%;
    padding: 0.3rem 0 1rem 0;
    margin: 1rem;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1.4rem;
    justify-content: center;
}

.quiz-list-item {
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quiz-list-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.quiz-list-item > * {
    color: white;
    margin: 1rem 0 1rem 0;
}

.quiz-list-item-title {
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid white;
    vertical-align: middle;
    overflow: hidden;
}

.quiz-list-item-description {
    width: 100%;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    line-height: 1.2em;
    height: 3.6em;
    max-height: 3.6em;
    word-wrap: break-word;
}

.quiz-list-item-footer {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.quiz-list-item-footer > p {
    font-size: .75rem;
}

.quiz-list-item-num-questions {
    font-weight: 600;
}

.quiz-list-item-author {
    font-weight: 400;
}


@media (max-width: 1000px) {
    #quiz-list-page-header {
        display: none;
    }
    
    .quiz-list {
        grid-template-columns: 100%;
    }
}