.account-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;

    cursor: pointer;
}

.account-login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: calc(100vw - 90px);
    top: 15px;

    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;

    cursor: pointer;
}