.account-login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;

    cursor: pointer;
}

.right-navigation-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.account-container-create-quiz {
    margin-right: 10px;
    padding: 5px;
    background-color: darkgreen;
    color: white;
    font-weight: 400;
}