.create-quiz-container {
    display: flex;
    flex-direction: column;
    text-align: left;

    position: absolute;
    top: 0px;
    padding: 40px;
    width: calc(100% - 80px - 40px);
}


.quiz-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 10px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.add-question-button {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.add-question-option-button {
    position: relative;
    left: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
    margin-top: 0.5rem;
}

.add-question-option-button > span {
    font-size: 2rem;
    line-height: 2rem;
}

.submit-quiz-button {
    position: relative;
    float: right;
    margin: 1rem 0.4rem;
}