.background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: calc(100vh - 0px);
    width: 100vw;

}

.content-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0);
    width: 70vw;
    height: 85vh;
    /* background: var(--box-background-color); */
}