.quiz-label-container.question-options {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    justify-content: space-between;
    align-items: center;

    border: 2px solid var(--menu-border-color);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.quiz-label-container.question-options > input[type="text"] {
    width: 50%;
}

.question-options-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.radio_button_item{
    display: none !important;
}

.radio_button_label {
    display: flex;
    justify-content: center;
    align-content: center;

    border: 1px solid var(--menu-border-color);
    border-radius: 50%;
    background-color: var(--light-form-color);
    height: 30px;
    width: 30px;

    opacity: 0.1;
}

.radio_button_item:checked + label {
    opacity: 1;
}
