.navigationbar-container {
    z-index: 5;
    position: fixed;
    top: 0px;
    left: 0vw;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--header-background-color);
}

.navigationbar-container > .logo-container {
    height: 60px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigationbar-container > .logo-container > .logo-text {
    font-family: monospace;
    color: white;
    font-size: 2.3rem;
    font-weight: lighter;
    width: 33.3333%;
    user-select: none;
}

.navigationbar-container > .logo-container > .logo-img {
    margin-top: 1.5rem;
    height: 140%;
    border-radius: 50%;
    border: 6px solid var(--header-background-color);
}