.navigationbar-container {
    z-index: 6;
    position: fixed;
    top: 0px;
    left: 0vw;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--bob-blue);
    border-bottom: 1px solid var(--menu-border-color);
}

.navigationbar-container > .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.navigationbar-container > .logo-container > .logo-text {
    font-family: monospace;
    color: white;
    font-size: 2.3rem;
    font-weight: lighter;
    width: 33.3333%;
    user-select: none;
}

.navigationbar-container > .logo-container > .logo-img {
    margin-top: 1.5rem;
    height: 140%;
    border-radius: 50%;
    border: 6px solid var(--bob-blue);
}

.navigationbar-container > .account-icon-container, .navigationbar-container > .right-navigation-container {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.navigationbar-container > .account-login-container {
    position: absolute;
    transform: scale(0.85) translateX(-50%);
    right: 1.5rem;
    margin-top: 0.7rem;
}

@media (max-width: 1200px) {

    .navigationbar-container > .logo-container {
        padding-top: 2.5px;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }

    .navigationbar-container > .logo-container > .logo-img {
        height: 120%;
        margin-top: 0.4rem;
        margin-right: 0.25rem;
    }

    .navigationbar-container > .logo-container > .logo-text {
        font-size: 1.1rem;
        width: auto;
        margin-right: 0.5rem;
        text-wrap: nowrap;
    }

    .navigationbar-container > .logo-container > .logo-text:first-child {
        display: none;
    }

    .navigationbar-container > .logo-container > .logo-text:last-child::before {
        content: "Bob's ";
    }

    .navigationbar-container > .account-login-container {
        transform: scale(0.8);
        right: 1.6rem;
    }

    .navigationbar-container > .right-navigation-container {
        right: 0.5rem;
    }
    
}


@media (max-width: 500px) {
    .navigationbar-container > .logo-container {
        justify-content: start;
    }

    .navigationbar-container > .logo-container > .logo-img {
        margin-top: 0.2rem;
        height: 110%;
    }

    .navigationbar-container > .logo-container > .logo-text {
        font-size: 1.05rem;
        width: 50%;
        text-wrap: wrap;
        text-align: left;
        margin: 0;
    }

    .navigationbar-container > .account-login-container {
        transform: scale(0.8);
        right: 1.5rem;
    }

    .navigationbar-container > .right-navigation-container {
        right: 0;
        top: 1.3rem;
        transform: scale(0.9) translateY(-50%);
    }
}