.navigationbar-container {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    top: 0px;
    left: 0vw;
    background: var(--header-background-color);
    width: calc(100vw - 60px);
    height: 60px;
}