.quiz-btn {
    color: black;
    background-color: var(--primary-text-color);
    transition: "scale" 1s ease-in-out;
    user-select: none;
}

.quiz-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--primary-text-color);
}

.quiz-view-cover, .quiz-view-results {
    width: 75%;
    min-height: 65vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 0 2.5rem 0;
    border: 1px solid var(--primary-text-color);
    box-shadow: 0 0 5px var(--primary-text-color);
}

.quiz-view-cover > .quiz-view-cover-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 1.5rem;
}

.quiz-view-cover > .quiz-view-cover-header > #delete-btn {
    background-color: red;
    color: white;
}


.quiz-view-cover > #quiz-title {
    font-size: 2.1rem;
}

.quiz-view-cover > #quiz-description {
    width: 80%;
    min-height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.quiz-view-cover > .quiz-view-cover-footer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quiz-view-cover > .quiz-view-cover-footer > p {
    font-weight: lighter;
    font-size: 0.9rem;
}

.quiz-view-results {
    margin: auto;
    width: 75%;
}

.quiz-view-results > .text-group > .quiz-view-results-header {
    font-size: 2.5rem;
    width: 100%;
}

.quiz-view-results > .text-group > #total-score {
    font-size: 1.8rem;
    color: var(--primary-text-color)
}

.quiz-view-results > .quiz-view-results-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1200px) {
    .quiz-view-cover {
        width: 95%;
        padding-top: 3rem;
    }

    .quiz-view-results {
        width: 95%;
    }

    .quiz-view-results > .quiz-view-results-header {
        font-size: 2rem;
    }

    .quiz-view-cover > .quiz-view-cover-footer {
        flex-direction: column;
        gap: 1rem;
    }
}